<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Bienvenido, <span th:text="${nombre_usuario}"></span></h1>
    <a href="/logout" class="btn btn-primary">Cerrar sesión</a>
    <h2>Registrar Producto</h2>
    <form th:action="@{/productos/crear}" method="post" th:object="${producto}">
        <div class="form-group">
            <label for="nombre">Nombre producto</label>
            <input type="text" id="nombre" class="form-control" th:field="*{nombre}" required />
        </div>
        <div class="form-group">
            <label for="precio">Precio producto</label>
            <input type="number" id="precio" class="form-control" th:field="*{precio}" required />
        </div>
        <div class="form-group">
            <label for="stock">Stock producto</label>
            <input type="number" id="stock" class="form-control" th:field="*{stock}" required />
        </div>
        <div class="form-group">
            <label for="categoria">Seleccione categoría</label>
            <input type="text" id="categoria" class="form-control" th:field="*{categoria}" required />
        </div>
        <a href="/listarProductos" class="btn btn-secondary">Atrás</a>
        <button type="submit" class="btn btn-success">Guardar Producto</button>
    </form>
</div>
</body>
</html>